@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --light: #fff;
    --dark:  #363636;
    --black: #262626;
    --c1: #5dbd95;
    --c2: rgb(3, 211, 142);
    --f1: "Madimi One", serif;
    --f2: "Montserrat", sans-serif;
    --bg: #e6ecea;
    --border-in: -5px -5px 10px #ffffffc5,
    5px  5px 10px rgba(70,70,70,0.2),
    inset -10px -10px 20px #fff,
    inset 10px  10px 20px rgba(70, 70, 70, 0.2);
    --border-out: -2px -2px 5px #fff,
    3px 3px 10px rgba(70,70,70,0.3);
}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--f2);
    background-color: var(--bg);
    animation: fadeIn 1s ease;
}

/* main */
main {
    height: 100vh;
    min-width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bg);
    color: var(--dark);
    box-shadow: var(--border-out);
    padding: 1.2rem;
}
main a h1{
    margin-bottom: 2rem;
    font-weight: 800;
    color: var(--c1);
    letter-spacing: -1px;
}
main a {
    text-decoration: none;
}
main ul {
    list-style: none;
}
ul li {
    margin-bottom: 1rem;
}
ul li a {
    text-decoration: none;
    color: var(--dark);
    font-weight: 500;
    transition: 0.3s ease;
}
ul li a:hover {
    color: var(--c1);
}

section {
    padding-left: 150px;
}
section h1 {
    font-weight: 900;
    letter-spacing: -1px;
    font-size: 2.5rem;
    color: var(--dark);
    padding: 2rem;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}
section p {
    color: var(--dark);
    font-weight: 500;
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}
section p span {
    font-weight: 600;
}
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
    gap: 30px;
}

.projects-img-container1 {
    max-width: 800px;
    box-shadow: var(--border-out);
}
.projects-img-container2 {
    max-width: 500px;
    box-shadow: var(--border-out);
}
.projects-img-container3 {
    max-width: 300px;
    box-shadow: var(--border-out);
}
.projects-img-container1 img, .projects-img-container2 img {
    width: 100%;
    transition: 0.3s ease-in-out;
}
.projects-img-container2 img {
    height: 500px;
}
.projects-img-container3 img {
    width: 100%;
    object-fit: cover;
    height: 400px;
    transition: 0.4s ease-in-out;
}
.projects-img-container1 img:hover, .projects-img-container2 img:hover {
    transform: scale(1.02);
    cursor: pointer;
    box-shadow: -10px -10px 0 var(--c1);
}
.projects-img-container3 img:hover {
    transform: scale(1.02);
    filter: contrast(1.2);
    cursor: pointer;
    box-shadow: -10px -10px 0 var(--c1);
}
footer {
    padding: 2rem;
    margin-top: 2rem;
    background-color: var(--dark);
    z-index: -1;
}
footer ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer ul li {
    margin: 0;
    color: var(--light);
}
footer ul li:first-child {
    font-size: 1.1rem;
    font-weight: 600;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        filter: blur(1px);
    }
    100% {
       opacity: 1;
       filter: blur(0);
    }
} 

@media screen and (max-width: 800px) {
    main {
        position: relative;
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 1rem;
    }
    main a h1{
        margin-bottom: 0.5rem;
        text-align: center;
    }
    main ul {
        display: flex;
        gap: 10px;
        justify-content: center;
    }
    main ul li {
        font-size: 0.8rem;
        margin-bottom: 0;
    }
    section {
        padding-left: 0;
    }
    section p {
        max-width: 85%;
    }
}

